[mysqld]
port = {{ mysql_port }}
bind-address = {{ mysql_bind_address }}
pid-file = {{ mysql_pid_file }}
socket = {{ mysql_socket }}
datadir = {{ mysql_data_dir }}
{% if mysql_secure_file_priv != "" %}
secure-file-priv = {{ mysql_secure_file_priv }}
{% endif %}
{% if mysql_skip_name_resolve %}
skip-name-resolve
{% endif %}
sql-mode = {{ mysql_sql_mode }}

symbolic-links = 0

{% if mysql_config_replication %}
# replication config
log_bin = {{ mysql_bin_log }}
server-id = {{ play_hosts.index(inventory_hostname) | int + 1  }}
{% if inventory_hostname in groups.db_master %}
log-bin-index = {{ mysql_bin_index }}
binlog_format = {{ mysql_binlog_format }}
expire_logs_days = {{ mysql_bin_logs_expire }}
max_binlog_size = {{ mysql_bin_log_size }}
{% for db in mysql_databases %}
{% if db.use_replication | default(true) %}
binlog_do_db = {{ db.name }}
{% else %}
binlog_ignore_db = {{ db.name }}
{% endif %}
{% endfor %}
{% else %}
relay-log = {{ mysql_relay_log }}
relay-log-index = {{ mysql_relay_index }}
read_only = 1
{% endif %}
{% endif %}

log-error = {{ mysql_error_log }}

{% for directory in mysql_include_dirs %}
!includedir {{ mysql_config_dir }}/{{ directory }}/
{% endfor %}