#!/bin/bash

db_user="{{ mysql_backup_user.name }}"
db_pass="{{ mysql_backup_user.password }}"
binlogs_path="{{ mysql_log_dir }}/"
backup_folder="{{ mysql_backup_dest }}"
current_date=`date +%Y.%m.%d_%k-%M`

mysql -u$db_user -p$db_pass -E --execute='FLUSH BINARY LOGS;'

binlogs=$(mysql -u$db_user -p$db_pass -E --execute='SHOW BINARY LOGS;' mysql | grep Log_name | sed -e 's/Log_name://g' -e 's/^[[:space:]]*//' -e 's/[[:space:]]*$//')
binlogs_wo_last=`echo "${binlogs}" | head -n -1`
binlog_last=`echo "${binlogs}" | tail -n -1`
binlogs_full_path=`echo "${binlogs_wo_last}" | xargs -I % echo $binlogs_path%`

gzip -k -c $binlogs_full_path > $backup_folder/backup_inc_$current_date.sql.gz
echo $binlog_last | xargs -I % mysql -u$db_user -p$db_pass -E --execute='PURGE BINARY LOGS TO "%";'