#!/bin/bash

db_user="{{ mysql_backup_user.name }}"
db_pass="{{ mysql_backup_user.password }}"
current_date=`date +%Y.%m.%d_%k-%M`

{% if mysql_backup_db == [] %}
mysqldump -u$db_user -p$db_pass --all-databases --source-data --single-transaction | gzip > {{ mysql_backup_dest }}/backup_full_all_$current_date.sql.gz
{% else %}
{% for db in mysql_backup_db %}
mysqldump -u$db_user -p$db_pass {{ db }} --source-data --single-transaction | gzip > {{ mysql_backup_dest }}/{{ db }}/backup_full_{{ db }}_$current_date.sql.gz
{% endfor %}
{% endif %}
