[{{ item.name }}]

user = {{ item.user }}
group = {{ item.group }}

listen = {{ item.listen_address }}
;listen.owner = {{ item.listen_owner }}
;listen.group = {{ item.listen_group }}
;listen.mode = {{ item.listen_mode }}
listen.allowed_clients = {{ item.listen_allowed_clients }}

pm = {{ item.pm }}
pm.max_children = {{ item.pm_max_children  }}
pm.start_servers = {{ item.pm_start_servers }}
pm.min_spare_servers = {{ item.pm_min_spare_servers }}
pm.max_spare_servers = {{ item.pm_max_spare_servers }}
;pm.process_idle_timeout = {{ item.pm_process_idle_timeout }}
pm.max_requests = {{ item.pm_max_requests }}
;pm.status_path = {{ item.pm_status_path }}