<?php
if (!function_exists('check_file_access')) {
    function check_file_access($path)
    {
        if (is_readable($path)) {
            return true;
        } else {
            error_log(
                'phpmyadmin: Failed to load ' . $path
                . ' Check group www-data has read access and open_basedir restrictions.'
            );
            return false;
        }
    }
}

{% if phpmyadmin_blowfish_secret is defined %}
$cfg['blowfish_secret'] = '{{ phpmyadmin_blowfish_secret }}';
{% endif %}

$i = 0;
$i++;

$cfg['SendErrorReports'] = '{{ phpmyadmin_send_error_reports }}';

/* Authentication type */
{% if phpmyadmin_blowfish_secret is defined %}
$cfg['Servers'][$i]['auth_type'] = '{{ phpmyadmin_auth_type }}';
{% endif %}
{% if phpmyadmin_blowfish_secret is not defined %}
$cfg['Servers'][$i]['auth_type'] = '{{ phpmyadmin_auth_type }}';
$cfg['Servers'][$i]['user']      = '{{ phpmyadmin_mysql_user }}';
$cfg['Servers'][$i]['password']  = '{{ phpmyadmin_mysql_pass }}';
{% endif %}

/* Server parameters */
$cfg['Servers'][$i]['host'] = '{{ phpmyadmin_mysql_host }}';
$cfg['Servers'][$i]['port'] = '{{ phpmyadmin_mysql_port }}';
$cfg['Servers'][$i]['connect_type'] = '{{ phpmyadmin_mysql_connect_type }}';

 /* Optional: Advanced phpMyAdmin features */
$cfg['Servers'][$i]['compress'] = {{ phpmyadmin_mysql_compress }};
{% if phpmyadmin_has_mysqli %}
$cfg['Servers'][$i]['extension'] = 'mysqli';
{% endif%}

/* Optional: User for advanced features */
$cfg['Servers'][$i]['controluser'] = '{{ phpmyadmin_mysql_user }}';
$cfg['Servers'][$i]['controlpass'] = '{{ phpmyadmin_mysql_pass }}';

/* Optional: Advanced phpMyAdmin features */
$cfg['Servers'][$i]['pmadb'] = '{{ phpmyadmin_mysql_db_name }}';
$cfg['Servers'][$i]['bookmarktable'] = '{{ phpmyadmin_bookmarktable }}';
$cfg['Servers'][$i]['relation'] = '{{ phpmyadmin_relation }}';
$cfg['Servers'][$i]['table_info'] = '{{ phpmyadmin_table_info }}';
$cfg['Servers'][$i]['table_coords'] = '{{ phpmyadmin_table_coords }}';
$cfg['Servers'][$i]['pdf_pages'] = '{{ phpmyadmin_pdf_pages }}';
$cfg['Servers'][$i]['column_info'] = '{{ phpmyadmin_column_info }}';
$cfg['Servers'][$i]['history'] = '{{ phpmyadmin_history }}';
$cfg['Servers'][$i]['table_uiprefs'] = '{{ phpmyadmin_table_uiprefs }}';
$cfg['Servers'][$i]['tracking'] = '{{ phpmyadmin_tracking }}';
$cfg['Servers'][$i]['userconfig'] = '{{ phpmyadmin_userconfig }}';
$cfg['Servers'][$i]['recent'] = '{{ phpmyadmin_recent }}';
$cfg['Servers'][$i]['favorite'] = '{{ phpmyadmin_favorite }}';
$cfg['Servers'][$i]['users'] = '{{ phpmyadmin_users }}';
$cfg['Servers'][$i]['usergroups'] = '{{ phpmyadmin_usergroups }}';
$cfg['Servers'][$i]['navigationhiding'] = '{{ phpmyadmin_navigationhiding }}';
$cfg['Servers'][$i]['savedsearches'] = '{{ phpmyadmin_savedsearches }}';
$cfg['Servers'][$i]['central_columns'] = '{{ phpmyadmin_central_columns }}';
$cfg['Servers'][$i]['designer_settings'] = '{{ phpmyadmin_designer_settings }}';
$cfg['Servers'][$i]['export_templates'] = '{{ phpmyadmin_export_templates }}';
$cfg['Servers'][$i]['AllowNoPassword'] = {{ phpmyadmin_allownopassword }};

/* Directories for saving/loading files from server */
$cfg['UploadDir'] = '';
$cfg['SaveDir'] = '';

/* Support additional configurations */
foreach (glob('/etc/phpmyadmin/conf.d/*.php') as $filename)
{
    include($filename);
}
