server {
    listen {{ nginx_default_port }} default_server;
    listen [::]:{{ nginx_default_port }} default_server;

    root {{ nginx_default_root }};

    server_name _;

{% for location in nginx_default_locations %}
    location {{ location.name }} {
        {{ location.parameters }}
    }
{% endfor %}

{% if item.whitelist is defined %}
{% if item.whitelist != "" %}
    {{ item.whitelist }}
{% endif %}
{% endif %}

}